canvas {
  width: 100%;
}

#make-button {
  display: none;
  cursor: pointer;
  position: absolute;
  width: 60%;
  padding: 1rem 0;
  border-radius: 1rem;
  font-size: 1.5rem;
  background: #21e429;
  color: #323232;
  text-align: center;
}

#make-button[open="true"] {
  display: block;
}
