#item-window {
  display: none;
  position: fixed;
  width: 80%;
  padding: 1rem 0;
  border-radius: 1rem;
  background: #dcdcdc;
  text-align: center;
}

#item-image img {
  width: 60%;
  max-width: 150px;
  image-rendering: pixelated;
}
