#item-window {
  display: none;
  position: fixed;
  width: 80%;
  padding: 1rem 0;
  background: white;
  border: 3px solid #323232;
  text-align: center;
}

#item-image img {
  width: 60%;
  max-width: 150px;
  image-rendering: pixelated;
}
